<div class="container">
<div class="row">
    <div class="col-md-8">
        <h1>About Us</h1>
        <hr class="divider">
        <p style="white-space:pre-line;">
          {{about.data.content}}
        </p>
    </div>
    <div class="col-md-3 col-md-offset-1 about">
        <img class="img-responsive" src="images/contact/{{contact.data.pic}}">
    </div>
    </div>
<br>
<p class="right">Copyright &copy; <a href="#">Just3Preety.com</a>
</p>

</div>


