<div class="container">
<div class="row">
<div class="col-md-8">
<h1>Contact Us</h1>
<hr class="divider">
<h3>MailBox</h3>
<p>Drop us a mail at {{ contact.data.email }}</p>
<h3>Tring Tring !</h3>
<p style="white-space:pre-line;">{{ contact.data.tel }}</p>
    <h3>You can find us at ..</h3>
    <p style="white-space:pre-line;"> {{ contact.data.address }}</p><br>

</div>
<div class="col-md-3 col-md-offset-1 about">
<img class="img-responsive" src="images/contact/{{ contact.data.pic }}">
</div>
</div>
<br>
<p class="right">Copyright &copy; <a href="#">Just3Preety.com</a>
</p>

</div>
