<!doctype html>
<html class="no-js" lang="">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Just3Preety</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="stylesheets/normalize.css">
<link rel="stylesheet" href="stylesheets/main.css">
<link rel="stylesheet" href="stylesheets/bootstrap.css">
<link rel="stylesheet" href="stylesheets/icons/flaticon.css">
<script src="javascripts/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="filler hidden-xs hidden-sm"></div>
<div class="container">
<nav class="navbar navbar-default ">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="flaticon-lines7"></span>
</button>
<a class="navbar-brand logo" href="/"><img src="images/logo.png"></a>
</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About Us</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalog <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/women">For Women</a></li>
                    <li><a href="/men">For Men</a></li>
                </ul>
            </li>
            <li><a href="/cafe">Cafe</a></li>
            <li><a href="/ethnique">Ethnique Creations</a></li>
            <li><a href="/happiness">Spread happiness</a></li>
            <li><a href="/contact">Contact Us</a></li>

        </ul>
    </div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
</div>

    {{{body}}}
  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.3.min.js"><\script>')
</script>
<script src="javascripts/plugins.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/bootstrap.min.js"></script>

</body>

</html>
