<div class="pure-g">
   <div class="pure-u-1-1" ng-repeat="item in vm.items">
        
        <img draggable="false" class="pure-img-responsive" ng-src="/images/contact/{{item.data.pic}}">

        <p style="white-space:pre-line;">  
        <strong>Email:</strong> {{item.data.email}}
        <strong>Tel:</strong>  {{item.data.tel}}
        <strong>Address:</strong> {{item.data.address}}
        </p>

        <a ng-href="#/contact/{{item.id}}/edit" class="pure-button pure-button-primary">Edit</a> 
        
   </div>     

</div>
