<div class="pure-g">
   <div sv-root sv-part ="vm.items" sv-on-sort="vm.reorder($item, $indexFrom, $indexTo)">

   <div class="pure-u-1-2" ng-repeat="item in vm.items" sv-element>
      <article class="catalog-item">
        <div class="catalog-image">
          <img class="pure-img-responsive" ng-src="/images/ethnic/{{item.pic}}" alt="{{item.title}}">
        </div>
        <div class="catalog-content">
        <p>
          Title: {{item.title}} 
        </p>  
        <p>  
          Description: {{item.data.description}}  
        </p>
        </div>
        <div class="catalog-action">
          <ul>
            <li><a ng-click="vm.remove(item.id,$index,item.order)">Delete</a></li>
            <li><a ng-href="#/ethnic/{{item.id}}/edit"> Edit</a></li>
            <li>Reorder</li>
          </ul>
        </div>

      </article>
   </div>


  </div>
</div>

