<div class="pure-g">
   <div sv-root sv-part ="vm.items" sv-on-sort="vm.reorder($item, $indexFrom, $indexTo)" ng-cloak>

   <div class="pure-u-md-1-3 pure-u-sm-1-1" ng-repeat="item in vm.items" sv-element>
      <article class="catalog-item">
        <div class="catalog-image">
          <img draggable="false" class="pure-img-responsive" ng-src="/images/slider/{{item.pic}}" alt="{{item.title}}">
        </div>
        <div class="catalog-content">
        <p>
          <strong>Title:</strong> {{item.title}} 
        </p>  
        </div>
        <div class="catalog-action">
          <ul>
          <li><a ng-href="#/slider/{{item.id}}/edit" class="pure-button pure-button-primary"> Edit</a></li>
          <li><a ng-click="vm.remove(item.id,$index,item.order)" class="pure-button">Delete</a></li>
          </ul>
        </div>

      </article>
   </div>


  </div>
</div>

<a href="#/slider/new" class="add-new">+</a>
